{% extends "enroll/base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-lg-6 col-md-8 col-12 mx-auto">
        <h4 class="alert alert-info text-center">Update Student Information</h4>
        <form action="" method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Update" class="btn btn-success">
            <a href="{% url 'addandshow' %}" class='btn btn-info'>Back to Home</a>
        </form>
    </div>
</div>

{% endblock content %}